extends layouts/main
include mixins/videoPlayer

block content
  .video-detail__container
    +videoPlayer({
      fileUrl:video.fileUrl
    })
    if loggedUser && video.creator.id === loggedUser.id
      a(href=routes.videos+routes.editVideo(video.id))
        button Edit video
    .video__info
      .video__info__header
        h5.video__title=video.title
        if video.views === 1
          span.video__views 1 view
        else 
          span.video__views #{video.views} views
        .video__creator
          |Uploaded by 
          a(href=routes.users+routes.userDetail(video.creator.id))=video.creator.name
      |
      if video.description
        p.video__description=video.description
      else
        p No description
    .video__comments
      if video.comments.length === 1
        span.video__comment-number
          span#jsCommentNumber 1
          |  comment
      else
        span.video__comment-number
          span#jsCommentNumber=video.comments.length
          |  comments
      form.add__comment#jsAddComment
        input(type="text", placeholder="Add a comment")
      ul.video__comments-list#jsCommentList
        each comment in video.comments.reverse()
          li
            span=comment.text
