mixin videoBlock(video = {})
  .videoBlock
    a(href=routes.videos+routes.videoDetail(video.id))
      video.videoBlock__thumnail(src=video.fileUrl, controls=true)
    .videoBlock__detail
      h4.videoBlock__detail__title #{video.title}
      h4.videoBlock__detail__creator 
        if video.creator
          a(href=routes.users+routes.userDetail(video.creator.id))=video.creator.name
      if video.views === 1
        h6.videoBlock__detail__views 1 view
      else
        h6.videoBlock__detail__views #{video.views} views
